<h1>Here is a list of Bookmarks:</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href=<%= bookmark[1] %>><%= bookmark[0] %></li>
  <% end %>
</ul>

<form action='/add_bookmark'>
  <input type='submit' value='Add Bookmark'>
</form>

<form action='/delete' method="get">
  <input type='submit' value='Delete'>
</form>
