<h1>Here is a list of Bookmarks:</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href=<%= bookmark.url %>><%= bookmark.title %></li>
  <% end %>
</ul>

<form action='/bookmarks/new'>
  <input type='submit' value='Add Bookmark'>
</form>

<form action='/delete'>
  <input type='submit' value='Delete'>
</form>
