<form action='/delete_bookmarks' method="post">
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark[0] %><input type="checkbox" name="title" value="<%= bookmark[0] %>"></li>
  <% end %>
</ul>
  <input type='submit' value='delete'>
</form>
