<form action='/delete_bookmarks' method="post">
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark.title %><input type="radio" name="deleted" value="<%= bookmark.title %>"></li>
  <% end %>
</ul>
  <input type='submit' value='delete'>
</form>
